@{
    ViewBag.Title = "Home Page";
}

<main id="main">
    <section class="content-section" id="content" style="background-image:url(https://wellnessinstitute.ca/wp-content/themes/thewellnessinstitute/images/img-21.png)">
        <div class="heading-block">
            <div class="container">
                <div class="row">
                    <div class="column">
                        <div class="text-center">
                            <h1>Weekly Classes Schedule</h1>
                            <h4></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="fl-builder-content fl-builder-content-8808 fl-builder-content-primary" data-post-id="8808">
                    <div class="fl-row fl-row-full-width fl-row-bg-color fl-node-5edad5e76e039" data-node="5edad5e76e039">
                        <div class="fl-row-content-wrap">
                            <div class="fl-row-content fl-row-full-width fl-node-content">

                                <div class="fl-col-group fl-node-5edad5e7cc733 fl-col-group-equal-height fl-col-group-align-top" data-node="5edad5e7cc733">
                                    <div class="fl-col fl-node-5edad5e7cc805 fl-col-small" data-node="5edad5e7cc805">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-rich-text fl-node-5edad6c9e6f9f" data-node="5edad6c9e6f9f">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-rich-text">
                                                        <h4 style="text-align: center;"><a href="#studio"><u>Studio Schedule</u></a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-col fl-node-5edad5e7cc80b fl-col-small" data-node="5edad5e7cc80b">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-rich-text fl-node-5edad6d96cda3" data-node="5edad6d96cda3">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-rich-text">
                                                        <h4 style="text-align: center;"><a href="#cycling"><u>Cycling Schedule</u></a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-col fl-node-5edad5e7cc80e fl-col-small" data-node="5edad5e7cc80e">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-rich-text fl-node-5edad6dc6e2e9" data-node="5edad6dc6e2e9">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-rich-text">
                                                        <h4 style="text-align: center;"><a href="#yoga"><u>Yoga Schedule</u></a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-col fl-node-5edad5e7cc80f fl-col-small" data-node="5edad5e7cc80f">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-rich-text fl-node-5edad6673a5ed" data-node="5edad6673a5ed">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-rich-text">
                                                        <h4 style="text-align: center;"><a href="#aqua"><u>Aqua Schedule</u></a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="fl-row fl-row-full-width fl-row-bg-none fl-node-59934c540f92d" data-node="59934c540f92d">
                        <div class="fl-row-content-wrap">
                            <div class="fl-row-content fl-row-full-width fl-node-content">

                                <div class="fl-col-group fl-node-59934c540ffba" data-node="59934c540ffba">
                                    <div class="fl-col fl-node-59934c541009a" data-node="59934c541009a">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-rich-text fl-node-59934c5411700" data-node="59934c5411700">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-rich-text">
                                                        <p><span style="font-size: 18px;"><span style="font-size: 20px;"><strong>Members: </strong></span>Enjoy free, unlimited yoga, spinning, studio and aqua classes. Online sign-up is available for Group Training (with a valid package) and Orientations.</span></p>
                                                        <p><span style="font-size: 18px;"><span style="font-size: 20px;"><strong>Guests: </strong></span><a href="https://wellnessinstitute.ca/guests">Find out more about attending as a non-member with your drop-in visit.</a></span></p>
                                                        <hr />
                                                        <p><span style="font-size: 18px;"><span style="font-size: 24px;"><strong>Booking your Class:</strong></span> All classes require advance sign up. Sign-up opens 7 days prior to the class start. Deadline for sign-up is 15 minutes prior to the class start. Browse the class schedules below. Check the Exercise Schedule for class descriptions and sign-up requirements. When you are ready to book your class, you can <a href="https://wellnessinstitute.ca/log-in/">log in to book online</a>, call 204-632-3900 or visit our front desk.</span></p>
                                                        <p><span style="font-size: 18px;">If you don't yet have log in credentials contact us at 204-632-3900 or email <a href="mailto:info@wellnessinstitute.ca">info@wellnessinstitute.ca</a> for temporary log-in details.</span></p>
                                                        <hr />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="fl-col-group fl-node-5edace8e00e18" data-node="5edace8e00e18">
                                    <div class="fl-col fl-node-5edace8e00ede fl-col-small" data-node="5edace8e00ede">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-rich-text fl-node-5edace9b67c08" data-node="5edace9b67c08">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-rich-text">
                                                        <p><a class="btn btn-success" href="https://wellnessinstitute.ca/wp-content/uploads/2020/07/Phase2-ExerciseSchedule-jul8.pdf"><span style="font-size: 18px;">Download the Exercise Schedule</span></a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-col fl-node-5edace8e00ee3" data-node="5edace8e00ee3">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-rich-text fl-node-5edacee52ff59" data-node="5edacee52ff59">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-rich-text">
                                                        <p><a class="btn btn-primary" href="https://wellnessinstitute.ca/log-in"><span style="font-size: 18px;">Log-in to Book Online Now</span></a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="main">
                        <h3><b>Studio Schedule</b> <small>- Classes 45 minutes unless noted</small></h3>
                        <br /><br />
                        <div style="float:left; width: 160px;">
                            <div id="nav"></div>
                        </div>
                        <div style="margin-left: 160px;">

                            <div class="space">
                                Theme: <select id="theme">
                                    <option value="calendar_default">Default</option>
                                    <option value="calendar_white">White</option>
                                    <option value="calendar_g">Google-Like</option>
                                    <option value="calendar_green">Green</option>
                                    <option value="calendar_traditional">Traditional</option>
                                    <option value="calendar_transparent">Transparent</option>
                                </select>
                            </div>

                            <div id="dp"></div>
                        </div>

                    </div>
                    <div style="margin-bottom: 120px;" class="clear">
                    </div>

                    <div style="margin-bottom: 60px;" class="fl-rich-text">
                        <p><strong>As part of our 5-Point Safety Strategy:</strong></p>
                        <ul>
                            <li>Our physically distanced capacity is 14 for studio classes not using TRX. Capacity for TRX classes is 9.</li>
                            <li>Please enter the fitness studio no earlier than 5 mins before class starts. if you arrive earlier, follow the social distancing markers on the floor to line up outside of the studio.</li>
                            <li>Enter through our regular doors but will exit through the north-side front doors near the bosus.</li>
                            <li>When getting equipment, wipe down the equipment before you pick it up and after you return it to its spot.</li>
                            <li>When returning equipment to the storage room, maintain proper distancing (6 ft).</li>
                        </ul>
                    </div>

                    <div class="main">
                        <h3><b>Cycling Schedule</b> <small>- Get the <a href="https://wellnessinstitute.ca/wellness-app">Spin Audio app</a>.</small></h3>
                        <br /><br />
                        <div style="float:left; width: 160px;">
                            <div id="nav1"></div>
                        </div>
                        <div style="margin-left: 160px;">

                            <div class="space">
                                Theme: <select id="theme">
                                    <option value="calendar_default">Default</option>
                                    <option value="calendar_white">White</option>
                                    <option value="calendar_g">Google-Like</option>
                                    <option value="calendar_green">Green</option>
                                    <option value="calendar_traditional">Traditional</option>
                                    <option value="calendar_transparent">Transparent</option>
                                </select>
                            </div>

                            <div id="dp1"></div>
                        </div>

                    </div>
                    <div style="margin-bottom: 100px;" class="clear">
                    </div>

                    <div style="margin-bottom: 90px;" class="fl-rich-text">
                        <p><strong>As part of our 5-Point Safety Strategy:</strong></p>
                        <ul>
                            <li>Our physically distanced capacity is 16. Cycling class now takes place on the gym floor.</li>
                            <li>Participants must wipe down the bikes prior to moving them onto designated spots on the floor and after the class ends. If using a Wellness Listen Technology transmitter, you must wipe it down before and after class.</li>
                            <li>If you need assistance moving the bike, please ask an instructor or Wellness Consultant. Once the bike is in place, you are required to wipe the bike down again.</li>
                            <li>No loaner headphones are available – make sure you bring your own.</li>
                        </ul>
                    </div>

                    <div class="main">
                        <h3><b>Yoga Schedule</b></h3>
                        <br /><br />
                        <div style="float:left; width: 160px;">
                            <div id="nav2"></div>
                        </div>
                        <div style="margin-left: 160px;">

                            <div class="space">
                                Theme: <select id="theme">
                                    <option value="calendar_default">Default</option>
                                    <option value="calendar_white">White</option>
                                    <option value="calendar_g">Google-Like</option>
                                    <option value="calendar_green">Green</option>
                                    <option value="calendar_traditional">Traditional</option>
                                    <option value="calendar_transparent">Transparent</option>
                                </select>
                            </div>

                            <div id="dp2"></div>
                        </div>
                    </div>
                    <div style="margin-bottom: 110px;" class="clear">
                    </div>

                    <div style="margin-bottom: 80px;" class="fl-rich-text">
                        <p><strong>As part of our 5-Point Safety Strategy:</strong></p>
                        <ul>
                            <li>Our physically distanced capacity is 12. There are markers on the floor to show mat spacing.</li>
                            <li>Please enter the yoga studio no earlier 5 mins before class starts. if you arrive earlier, follow the social distancing markers on the floor to line up outside of the yoga room.</li>
                            <li>At the end of class members are asked to maintain social distancing when exiting the room</li>
                            <li>No equipment, including mats, is available. Participants must bring their own mats.</li>
                            <li>Participants are welcome to bring their own props (bolsters, straps, blocks, or blankets), though none are required to participate in class.</li>
                        </ul>
                    </div>

                    <div class="main">
                        <h3><b>Aqua Schedule</b> <small> - Members Only</small></h3>
                        <br /><br />
                        <div style="float:left; width: 160px;">
                            <div id="nav3"></div>
                        </div>
                        <div style="margin-left: 160px;">

                            <div class="space">
                                Theme: <select id="theme">
                                    <option value="calendar_default">Default</option>
                                    <option value="calendar_white">White</option>
                                    <option value="calendar_g">Google-Like</option>
                                    <option value="calendar_green">Green</option>
                                    <option value="calendar_traditional">Traditional</option>
                                    <option value="calendar_transparent">Transparent</option>
                                </select>
                            </div>

                            <div id="dp3"></div>
                        </div>

                    </div>
                    <div style="margin-bottom: 120px;" class="clear">
                    </div>

                    <div style="margin-bottom: 50px;" class="fl-rich-text">
                        <p><strong>As part of our 5-Point Safety Strategy:</strong></p>
                        <ul>
                            <li>Our physically distanced capacity is 8, for both classes and free time.</li>
                            <li>Please shower before entering the pool.</li>
                            <li>No equipment will be used in class.</li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    <script type="text/javascript">

        var nav = new DayPilot.Navigator("nav");
        nav.showMonths = 3;
        nav.skipMonths = 3;
        nav.selectMode = "week";
        nav.onTimeRangeSelected = function (args) {
            dp.startDate = args.day;
            dp.update();
            loadEvents();
        };
        nav.init();

        var dp = new DayPilot.Calendar("dp");
        dp.viewType = "Week";
        dp.eventDeleteHandling = "Update";

        dp.onEventDeleted = function (args) {
            $.post("backend/delete",
                {
                    id: args.e.id()
                },
                function () {
                    console.log("Deleted.");
                });
        };

        dp.onEventMoved = function (args) {
            $.post("backend/move",
                    {
                        id: args.e.id(),
                        newStart: args.newStart.toString(),
                        newEnd: args.newEnd.toString()
                    },
                    function () {
                        console.log("Moved.");
                    });
        };

        dp.onEventResized = function (args) {
            $.post("backend/resize",
                    {
                        id: args.e.id(),
                        newStart: args.newStart.toString(),
                        newEnd: args.newEnd.toString()
                    },
                    function () {
                        console.log("Resized.");
                    });
        };

        // event creating
        dp.onTimeRangeSelected = function (args) {
            var name = prompt("New event name:", "Event");
            dp.clearSelection();
            if (!name) return;

            $.post("backend/create",
            {
                start: args.start.toString(),
                end: args.end.toString(),
                name: name
            },
            function (data) {
                var e = new DayPilot.Event({
                    start: args.start,
                    end: args.end,
                    id: data.id,
                    resource: args.resource,
                    text: name
                });
                dp.events.add(e);

            });

        };

        dp.onEventClick = function (args) {
            alert("clicked: " + args.e.id());
        };

        dp.init();

        loadEvents();

        function loadEvents() {
            dp.events.load("/api/ApiUtilities/getSchedules?id=Studio");
        }

    </script>

    <script type="text/javascript">
    $(document).ready(function () {
        $("#theme").change(function (e) {
            dp.theme = this.value;
            dp.update();
        });
    });
    </script>

    <script type="text/javascript">

    var nav1 = new DayPilot.Navigator("nav1");
    nav1.showMonths = 3;
    nav1.skipMonths = 3;
    nav1.selectMode = "week";
    nav1.onTimeRangeSelected = function (args) {
        dp1.startDate = args.day;
        dp1.update();
        loadEvents();
    };
    nav1.init();

    var dp1 = new DayPilot.Calendar("dp1");
    dp1.viewType = "Week";
    dp1.eventDeleteHandling = "Update";

    dp1.onEventDeleted = function (args) {
        $.post("backend/delete",
            {
                id: args.e.id()
            },
            function () {
                console.log("Deleted.");
            });
    };

    dp1.onEventMoved = function (args) {
        $.post("backend/move",
                {
                    id: args.e.id(),
                    newStart: args.newStart.toString(),
                    newEnd: args.newEnd.toString()
                },
                function () {
                    console.log("Moved.");
                });
    };

    dp1.onEventResized = function (args) {
        $.post("backend/resize",
                {
                    id: args.e.id(),
                    newStart: args.newStart.toString(),
                    newEnd: args.newEnd.toString()
                },
                function () {
                    console.log("Resized.");
                });
    };

    // event creating
    dp1.onTimeRangeSelected = function (args) {
        var name = prompt("New event name:", "Event");
        dp1.clearSelection();
        if (!name) return;

        $.post("backend/create",
        {
            start: args.start.toString(),
            end: args.end.toString(),
            name: name
        },
        function (data) {
            var e = new DayPilot.Event({
                start: args.start,
                end: args.end,
                id: data.id,
                resource: args.resource,
                text: name
            });
            dp1.events.add(e);

        });

    };

    dp1.onEventClick = function (args) {
        alert("clicked: " + args.e.id());
    };

    dp1.init();

    loadEvents();

    function loadEvents() {
        dp1.events.load("/api/ApiUtilities/getSchedules?id=Cycling");
    }

    </script>

    <script type="text/javascript">
    $(document).ready(function () {
        $("#theme").change(function (e) {
            dp1.theme = this.value;
            dp1.update();
        });
    });
    </script>

    <script type="text/javascript">

    var nav1 = new DayPilot.Navigator("nav2");
    nav1.showMonths = 3;
    nav1.skipMonths = 3;
    nav1.selectMode = "week";
    nav1.onTimeRangeSelected = function (args) {
        dp2.startDate = args.day;
        dp2.update();
        loadEvents();
    };
    nav1.init();

    var dp2 = new DayPilot.Calendar("dp2");
    dp2.viewType = "Week";
    dp2.eventDeleteHandling = "Update";

    dp2.onEventDeleted = function (args) {
        $.post("backend/delete",
            {
                id: args.e.id()
            },
            function () {
                console.log("Deleted.");
            });
    };

    dp2.onEventMoved = function (args) {
        $.post("backend/move",
                {
                    id: args.e.id(),
                    newStart: args.newStart.toString(),
                    newEnd: args.newEnd.toString()
                },
                function () {
                    console.log("Moved.");
                });
    };

    dp2.onEventResized = function (args) {
        $.post("backend/resize",
                {
                    id: args.e.id(),
                    newStart: args.newStart.toString(),
                    newEnd: args.newEnd.toString()
                },
                function () {
                    console.log("Resized.");
                });
    };

    // event creating
    dp2.onTimeRangeSelected = function (args) {
        var name = prompt("New event name:", "Event");
        dp2.clearSelection();
        if (!name) return;

        $.post("backend/create",
        {
            start: args.start.toString(),
            end: args.end.toString(),
            name: name
        },
        function (data) {
            var e = new DayPilot.Event({
                start: args.start,
                end: args.end,
                id: data.id,
                resource: args.resource,
                text: name
            });
            dp2.events.add(e);

        });

    };

    dp2.onEventClick = function (args) {
        alert("clicked: " + args.e.id());
    };

    dp2.init();

    loadEvents();

    function loadEvents() {
        dp2.events.load("/api/ApiUtilities/getSchedules?id=Yoga");
    }

    </script>

    <script type="text/javascript">
    $(document).ready(function () {
        $("#theme").change(function (e) {
            dp2.theme = this.value;
            dp2.update();
        });
    });
    </script>

    <script type="text/javascript">

    var nav1 = new DayPilot.Navigator("nav3");
    nav1.showMonths = 3;
    nav1.skipMonths = 3;
    nav1.selectMode = "week";
    nav1.onTimeRangeSelected = function (args) {
        dp3.startDate = args.day;
        dp3.update();
        loadEvents();
    };
    nav1.init();

    var dp3 = new DayPilot.Calendar("dp3");
    dp3.viewType = "Week";
    dp3.eventDeleteHandling = "Update";

    dp3.onEventDeleted = function (args) {
        $.post("backend/delete",
            {
                id: args.e.id()
            },
            function () {
                console.log("Deleted.");
            });
    };

    dp3.onEventMoved = function (args) {
        $.post("backend/move",
                {
                    id: args.e.id(),
                    newStart: args.newStart.toString(),
                    newEnd: args.newEnd.toString()
                },
                function () {
                    console.log("Moved.");
                });
    };

    dp3.onEventResized = function (args) {
        $.post("backend/resize",
                {
                    id: args.e.id(),
                    newStart: args.newStart.toString(),
                    newEnd: args.newEnd.toString()
                },
                function () {
                    console.log("Resized.");
                });
    };

    // event creating
    dp3.onTimeRangeSelected = function (args) {
        var name = prompt("New event name:", "Event");
        dp3.clearSelection();
        if (!name) return;

        $.post("backend/create",
        {
            start: args.start.toString(),
            end: args.end.toString(),
            name: name
        },
        function (data) {
            var e = new DayPilot.Event({
                start: args.start,
                end: args.end,
                id: data.id,
                resource: args.resource,
                text: name
            });
            dp3.events.add(e);

        });

    };

    dp3.onEventClick = function (args) {
        alert("clicked: " + args.e.id());
    };

    dp3.init();

    loadEvents();

    function loadEvents() {
        dp3.events.load("/api/ApiUtilities/getSchedules?id=Aqua");
    }

    </script>

    <script type="text/javascript">
    $(document).ready(function () {
        $("#theme").change(function (e) {
            dp3.theme = this.value;
            dp3.update();
        });
    });
    </script>

}

